<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- LoginActivity tetap punya intent-filter agar terbuka pertama kali -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity HAPUS intent-filter dari sini -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <activity android:name=".TeknisiActivity" android:exported="false" />
        <activity android:name=".CekOdpActivity" android:exported="false" />
        <activity android:name=".MintaBarangActivity" android:exported="false" />
        <activity android:name=".InstalasiActivity" android:exported="false" />


        <activity android:name=".LogistikActivity" />
        <activity android:name=".SiapBarangActivity" android:exported="false" />
        <activity android:name=".BeliBarangActivity" android:exported="false" />
        <activity android:name=".MonitoringLogistikActivity" android:exported="false" />

        <activity android:name=".FinanceActivity" android:exported="false" />
        <activity android:name=".ApprovalPrActivity" android:exported="false" />
        <activity android:name=".ValidasiPembayaranActivity" android:exported="false" />

        <activity android:name=".NocActivity" android:exported="false" />
        <activity android:name=".AktivasiNocActivity" android:exported="false" />

        <activity android:name=".CsActivity" android:exported="false" />
        <activity android:name=".CariUpdatePelangganActivity" android:exported="false" />
        <activity android:name=".TiketKeluhanActivity" android:exported="false" />
        <activity android:name=".BantuanTeknisActivity" android:exported="false" />

    </application>

</manifest>