<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- LoginActivity tetap punya intent-filter agar terbuka pertama kali -->
        <activity android:name=".auth.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity HAPUS intent-filter dari sini -->
        <activity
            android:name=".auth.MainActivity"
            android:exported="false">
        </activity>

        <activity android:name=".teknisi.TeknisiActivity" android:exported="false" />
        <activity android:name=".teknisi.CekOdpActivity" android:exported="false" />
        <activity android:name=".teknisi.MintaBarangActivity" android:exported="false" />
        <activity android:name=".teknisi.InstalasiActivity" android:exported="false" />


        <activity android:name=".logistik.LogistikActivity" />
        <activity android:name=".logistik.SiapBarangActivity" android:exported="false" />
        <activity android:name=".logistik.BeliBarangActivity" android:exported="false" />
        <activity android:name=".logistik.MonitoringLogistikActivity" android:exported="false" />

        <activity android:name=".finance.FinanceActivity" android:exported="false" />
        <activity android:name=".finance.ApprovalPrActivity" android:exported="false" />
        <activity android:name=".finance.ValidasiPembayaranActivity" android:exported="false" />

        <activity android:name=".noc.NocActivity" android:exported="false" />
        <activity android:name=".noc.AktivasiNocActivity" android:exported="false" />

        <activity android:name=".cs.CsActivity" android:exported="false" />
        <activity android:name=".cs.CariUpdatePelangganActivity" android:exported="false" />
        <activity android:name=".cs.TiketKeluhanActivity" android:exported="false" />
        <activity android:name=".cs.BantuanTeknisActivity" android:exported="false" />

    </application>

</manifest>